#connexion_container
	width: 100%
	height: calc(100% - 2em)
	padding-top: 2em
	text-align: center
	div
		padding-top: 3em
		font-weight: bold
		text-transform: uppercase
.index-retour
	font-weight: bold
	float: right
	padding: 0.5em
	padding-right: 1em
	text-transform: uppercase
.arrow-left
	float: right
	width: 0
	height: 0
	margin-top: 0.4em
	border-top: 0.6em solid transparent
	border-bottom: 0.6em solid transparent
	border-right: 0.6em solid #cdc