.container
	width: 100%
.item
	margin-top: 1em
	width: 90%
	margin-left: 2.5%
	margin-right: 2.5%
	padding-left: 2.5%
	padding-right: 2.5%
	background: #ccc
	padding-bottom: 2em
	p 
		width: 50%
	p:nth-child(1), p:nth-child(4)
		float: left
		text-align: left
		padding-top: 0.5em
		padding-bottom: 0.5em
	p:nth-child(2),p:nth-child(5)
		float: right
		text-align: right
		padding-top: 0.5em
		padding-bottom: 0.5em
	p:nth-child(2)::after
		content: "Ð"
	.img-container
		width: 100%
		max-height: 20em
		text-align: center
		img
			max-width: 100%
			max-height: 18em
	&:first-child
		margin-top: 2.5em
	@media (min-width: 800px)
		width: 48%
		margin-left: 1%
		margin-right: 1%
		padding-left: 2.5%
		padding-right: 2.5%
		box-sizing: border-box
		padding-bottom: 0
		float: left
		&:nth-child(2)
			margin-top: 2.5em
	@media (min-width: 1100px)
		&:nth-child(2n-1)
			margin-left: 16em
			width: calc(49% - 8.5em) 
		&:nth-child(2n)
			width: calc(49% - 8.5em) 
		