.menubar
	z-index: 1000
	height: 2em
	background: #222
	width: 100%
	color: #cdc
	position: fixed
	top: 0
	left: 0
	min-width: 300px
	p
		font-weight: bold
		float: left
		padding: 0.5em
		padding-left: 1em
		text-transform: uppercase
	.btn-menu
		cursor: pointer
		float: right 
		height: 1.4em
		width: 1.4em
		margin: 0.3em
		margin-right: 1em
		border: solid 2px #444
		background: #cdc
		box-sizing: border-box
		box-shadow: 3px 3px 0px #888
	@media (min-width: 1100px)
		//input[type="text"], input[type="password"]
		.login
			height: 2em
			margin-top: 0.5em
			margin-right: 0.5em
			box-sizing: border-box
			float: right

.menu 
	z-index: 100
	width: 100%
	position: fixed
	top: calc(-100% - 2em)
	left: 0
	overflow: auto
	background: #999
	padding-bottom: 0.2em
	li
		line-height: 2em
		height: 2em
		&.radio_li
			padding-left: calc(50% - 4em)
		&.radio_li:hover
			background: #ccc
		input[type="text"]
			width: 90%
			margin-left: 4%
			height: 1.5em
			text-align: center
		button
			padding: 0.25em 0.5em
			width: 6em
			margin-left: calc(50% - 3em)
	@media (min-width: 1099px)
		transition: 0s
	@media (min-width: 1100px)
		width: 15em
		height: calc(100% - 2em)
		top: 2em

.desktop
	display: none
.notdesktop
	display: inline
@media (min-width: 1100px)
	.desktop
		display: inline
	.notdesktop
		display: none
.menu-deploy
	top: 2em