html, body
	min-width: 300px

.sidebar, .objet_desktop_title, .breadcrumb_desktop
	display: none

h5
	font-weight: bold
	font-size: 1.25em

a
	color: blue
	text-decoration: underline
.menubar
	a
		color: #cdc
		text-decoration: none

.objet
	margin-top: 2.5em
	.breadcrumb
		text-align: center
	.img-container
		margin: 2%
		width: 96%
		height: 100%
		text-align: center
		img
			max-width: 100%
			max-height: 100%
	.objet_content
		display: inline-block
		width: 92%
		margin: 0 4%
		height: 100%
		.objet_row
			//height: 1.2em
			float: left
			width: 100%
			margin-bottom: 1em
			.objet_text_left
				float: left
				width: 70%
			.objet_text_right
				float: left
				width: 30%
				height: 1.25em
				position: relative
				text-align: right
				p
					position: absolute
					bottom: 0
					right: 0
	.objet_description
		margin: 2%

@media (min-width: 650px)
	.objet
		.img-container
			width: 46%
			float: left
		.objet_content
			float: left
			width: 48%
			margin: 2%
			margin-left: 0
		.objet_description
			width: 98%
			float: left

@media (min-width: 1100px)
	$sidebar-margin: 1em
	.sidebar, .objet_desktop_title, .breadcrumb_desktop
		display: block
	.breadcrumb, .objet_text_left h5
		display: none
	.sidebar
		margin-top: 2.5em
		margin-left: 1%
		width: 25%
		float: left
		.img-container
			width: 50%
			height: 40%
			text-align: center
			margin-bottom: $sidebar-margin
			img
				max-height: 100%
				max-width: 100%
		.breadcrumb_desktop
			margin-bottom: $sidebar-margin
		.search_desktop
			input
				margin-bottom: 1em
	.objet
		.objet_desktop_title
			font-size: 2em
		float: left
		width: 70%
		.img-container
			text-align: left
			margin-left: 0
		.objet_content
			padding: 1%
			width: 35%
			float: right
			margin-right: 0
			border: solid black 2px
		.objet_description
			width: 70%
			padding-right: 6em
			margin-left: 0