@import compass/reset

html,body
	height: 100%
	width: 100%
	font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans, sans-serif
	background-color: #cdc
a
	color: inherit
	text-decoration: none
button
	font-family: inherit
	font-size: 100%
	padding: .5em 1em
	border: 0 rgba(0,0,0,0)
	background-color: #EFEFEF
	text-decoration: none
	border-radius: 2px
@import _menubar
@import _item
@import _connexion
@import _objet